.card{
    color:white !important
    ;background-color: #425a65;
    margin:5px !important
}

.card-img-top {
    max-height: 200px; 
    object-fit: cover; 
  }
  a {
    text-decoration: none;
    color :white ;
  }
  